<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="../assests/signin.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">

    <title>Ride Auction | RideX</title>
  </head>
  <body style="background-color: #4abdac">
    <div id="content-wrapper" style="background:white;">

      <div class="container-fluid">
    
      <hr>
        <div>
          <div class="auth__form_actions">
                  <div class="form-group">
                      <label class="text-uppercase small">From</label>
                      <input name="from" type="text" class="first_name form-control" placeholder="Dheeraj Darshan,Jogeshwari East,Mumbai" readonly="true">
                  </div>
                  <div class="form-group">
                      <label class="text-uppercase small">To</label>
                      <input name="to" type="text" class="first_name form-control" placeholder="KJSCE,Vidyavihar,Mumbai" readonly="true">
                  </div>
                  <div class="form-group">
                      <label class="text-uppercase small">Fare</label>
                      <input name="fare" type="text" class="first_name form-control" placeholder="0.00 ETH" readonly="true">
                  </div>
          </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>